*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#brandlogo{
    width: 100px;
}

.card1{
    background-color: #F7EBDB;
    background-image: url('../images/pb-2-1.jpg');
    background-blend-mode: normal;
    background-size: 400px;
    background-position:0 -15px ;
    background-repeat:no-repeat ;
    padding-top: 4.5rem;
    

}

.card2{
    background-color: #F7EBDB;
    background-image: url('../images/pb-2-2.jpg');
    background-blend-mode: normal;
    background-size: 550px;
    background-position:0 -40px ;
    background-repeat:no-repeat ;
    padding-top: 4.5rem;
}
.row{
    padding: 50px;
    justify-content: space-around;
}

.lorem{
    align-self: center;
}

#menu{
    color: #e3050e;
    font-weight: 1200rem;
}

.btn{
    width: max-content;
    margin-left: auto;
    border-radius: 0;
}

    

    